@if (Readonly)
{
    <div class="row">
        <div class="col-1">
            <input type="checkbox" @bind="Skill.IsCareerSkill" readonly disabled/>
        </div>
        <div class="col-5">
            @Skill.Name
        </div>
        <div class="col-2">
            @Skill.Ranks
        </div>
        <div class="col">
            @foreach(var die in GenerateDicePool())
            {
                <Dice Type="die"/>
            }
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-1">
            <input type="checkbox" @bind="Skill.IsCareerSkill" />
        </div>
        <div class="col-5">
            @Skill.Name (@Skill.Base.Abbreviation)
        </div>
        <div class="col-2">
            <input type="number" class="form-control" @bind="Skill.Ranks" />
        </div>
        <div class="col">
            @foreach(var die in GenerateDicePool())
            {
                <Dice Type="die" />
            }
        </div>
    </div>
}

@code 
{
    [Parameter, EditorRequired]
    public Skill Skill { get; set; }

    [Parameter, EditorRequired]
    public bool Readonly { get; set; }

    public List<Dice.DieType> GenerateDicePool()
    {
        if(Skill.Ranks < 0)
        {
            return [];
        }
        var dicePool = new List<Dice.DieType>();
        int yellows;
        int greens;
        if(Skill.Ranks <= Skill.Base.Value)
        {
            yellows = Skill.Ranks;
            greens = Skill.Base.Value - Skill.Ranks;
        }
        else
        {
            yellows = Skill.Base.Value;
            greens = Skill.Ranks - Skill.Base.Value;
        }

        for(var i = 0; i < yellows; ++i)
        {
            dicePool.Add(Dice.DieType.Proficiency);
        }
        for(var i = 0; i < greens; ++i)
        {
            dicePool.Add(Dice.DieType.Ability);
        }

        for(var i = 0; i < Skill.BonusDice; ++i)
        {
            dicePool.Add(Dice.DieType.Boost);
        }
        for(var i = 0; i < Skill.SetbackCancels; ++i)
        {
            dicePool.Add(Dice.DieType.Setback);
        }

        return dicePool;
    }
}
