@charset "UTF-8";
@font-face {
  font-family: 'sw-rpg-icons';
  src: url("../fonts/sw-rpg-icons.eot?32jxyw");
  src: url("../fonts/sw-rpg-icons.eot?32jxyw#iefix") format("embedded-opentype"), url("../fonts/sw-rpg-icons.ttf?32jxyw") format("truetype"), url("../fonts/sw-rpg-icons.woff?32jxyw") format("woff"), url("../fonts/sw-rpg-icons.svg?32jxyw#sw-rpg-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sw-rpg-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ffi-d6:before {
  content: ""; }

.ffi-d6-outline:before {
  content: ""; }

.ffi-d8:before {
  content: ""; }

.ffi-d8-outline:before {
  content: ""; }

.ffi-d12:before {
  content: ""; }

.ffi-d12-outline:before {
  content: ""; }

.ffi-swrpg-advantage:before {
  content: ""; }

.ffi-swrpg-advantage-advantage:before {
  content: ""; }

.ffi-swrpg-advantage-advantage-alternate:before {
  content: ""; }

.ffi-swrpg-advantage-success:before {
  content: ""; }

.ffi-swrpg-despair:before {
  content: ""; }

.ffi-swrpg-failure:before {
  content: ""; }

.ffi-swrpg-failure-failure:before {
  content: ""; }

.ffi-swrpg-failure-threat:before {
  content: ""; }

.ffi-swrpg-force:before {
  content: ""; }

.ffi-swrpg-force-outline:before {
  content: ""; }

.ffi-swrpg-force-split:before {
  content: ""; }

.ffi-swrpg-success:before {
  content: ""; }

.ffi-swrpg-success-success:before {
  content: ""; }

.ffi-swrpg-threat:before {
  content: ""; }

.ffi-swrpg-threat-threat:before {
  content: ""; }

.ffi-swrpg-triumph:before {
  content: ""; }