.ffi-swrpg-ability {
  color: #52B849; }

.ffi-swrpg-boost {
  color: #A0D9F5; }

.ffi-swrpg-challenge {
  color: #E21D37; }

.ffi-swrpg-difficulty {
  color: #512C7D; }

.ffi-swrpg-force {
  color: #FFFFFF; }

.ffi-swrpg-proficiency {
  color: #FEE800; }

.ffi-swrpg-setback {
  color: #221F1F; }