@page "/"
@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@using System.Threading.Tasks

<PageTitle>Character Sheet</PageTitle>
<div class="container">
    <div class="row">
        <div class="col-12" style="font-weight: bold; background-color: tan; margin-bottom: 10px">
            Star Wars RPG Roster
            @if(ViewMode == Mode.Sheet)
            {
                <button class="btn" style="float: right" @onclick="() => ViewMode = Mode.Manage">Manage</button>
            }
            else if(ViewMode == Mode.Manage)
            {
                <button class="btn" style="float: right" @onclick="() => ViewMode = Mode.Sheet">Character</button>
            }
        </div>
    </div>

    @if(ViewMode == Mode.Sheet)
    {
        <div class="row">
            <div class="col-md-4">
                <select value="@Model.CharacterName" @onchange="e => LoadCharacter(e.Value?.ToString())" class="form-control">
                    <option value="">-- Select Character --</option>
                    @foreach(var character in AvailableCharacters)
                    {
                        <option value="@character.CharacterName">@character.CharacterName</option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-4">
                        <button class="btn btn-primary" @onclick="NewCharacter">New</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-success" @onclick="SaveCharacter">Save</button>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
            </div>
        </div>
        <Character Model="Model" />
    }
    else if(ViewMode == Mode.Manage)
    {
        <CharacterManagement AvailableCharacters="AvailableCharacters" />
    }
</div>

@code
{
    [Inject] public required StorageService Storage { get; set; }
    public List<CharacterModel> AvailableCharacters { get; set; } = [];
    public CharacterModel Model { get; set; } = new(true);
    public Mode ViewMode { get; set; } = Mode.Sheet;

    public enum Mode
    {
        Sheet,
        Manage
    }

    protected override async Task OnInitializedAsync()
    {
        var json = await Storage.GetFromLocalStorage("Characters");
        if(string.IsNullOrWhiteSpace(json))
        {
            Console.WriteLine("No saved characters found.");
            return;
        }
        AvailableCharacters = JsonSerializer.Deserialize<List<CharacterModel>>(json) ?? [];
        if (AvailableCharacters.Any())
        {
            Model = AvailableCharacters[0];
        }
    }

    public async Task NewCharacter()
    {
        Console.WriteLine("Saving current character");
        await SaveCharacter();

        Console.WriteLine("Initializing new character");
        Model = new CharacterModel(true);
        StateHasChanged();
    }

    public async Task LoadCharacter(string? characterName)
    {
        if(string.IsNullOrEmpty(characterName))
        {
            return;
        }
        var character = AvailableCharacters.FirstOrDefault(c => c.CharacterName == characterName);
        if(character is null)
        {
            Console.Error.WriteLine("ERROR: Character not found.");
            return;
        }
        Model = character;
        StateHasChanged();
    }

    public async Task SaveCharacter()
    {
        if(string.IsNullOrWhiteSpace(Model.CharacterName))
        {
            Console.Error.WriteLine("ERROR: Character must have a name to be saved.");
            return;
        }
        var existing = AvailableCharacters.FirstOrDefault(c => c.CharacterName == Model.CharacterName);
        if(existing != null)
        {
            Console.WriteLine("Updating existing character.");
            existing = Model;
        }
        else
        {
            Console.WriteLine("Saving new character.");
            AvailableCharacters.Add(Model);
        }
        await Storage.SetToLocalStorage("Characters", JsonSerializer.Serialize(AvailableCharacters));
    }
}